.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  height: 100vh;
}

.title {
  font-size: 42px;
  font-weight: bold;
  color: #5c52d1;
  text-transform: uppercase;
}

.score {
  font-size: 18px;
  font-size: bold;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 32px;
  color: white;
  background-color: #5c52d1;
  text-align: center;
  align-content: center;
  margin-top: 18px;
}

.message {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}