.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #5c52d1;
}

.welcomeText {
  font-size: 24px;
}

.link {
  width: 200px;
  height: 60px;
  cursor: pointer;
  background-color: #5c52d1;
  color: white;
  align-content: center;
  border-radius: 24px;
}